FROM debian:bookworm-slim

RUN apt-get -qq update && apt-get upgrade -y
RUN apt-get install -qqy mmdebstrap fakeroot libsystemd-shared man-db git cpio
WORKDIR /c
