FROM debian:bookworm-slim

RUN apt-get -qq update && apt-get upgrade -y
RUN apt-get install -qqy mmdebstrap fakeroot iproute2 libsystemd-shared git cpio
WORKDIR /c
