# ~/.config/systemd/user/stsigner.service

[Unit]
Description=ST signer daemon

[Service]
Type=exec
Restart=on-failure
ExecStart=/usr/bin/stsignd

[Install]
WantedBy=default.target
