# ~/.config/systemd/user/stsigner.service

# See git repo https://git.glasklar.is/system-transparency/core/stimages

[Unit]
Description=ST signer daemon

[Service]
Type=exec
Restart=on-failure
ExecStart=/usr/bin/stsignd

[Install]
WantedBy=default.target
